<h1 id="title">Wait for next question</h1>
<script type="text/javascript">
  function checkQuestions(){
  const XHR = new XMLHttpRequest();
  XHR.open('GET', '/main/newq/'+ <%= @question_id%>);
  XHR.send();
  XHR.onload(){
    if(XHR.response=="1"){
      window.reload();
    }
  }
}
  window.onload() = function(){
    setInterval(checkQuestions, 10000);
  }
</script>
